= form_for @search, url: posts_path, method: :get, html: {class: 'form-inline'} do |f|
  .form-group
    %label{'for' => "forms_search_lists"} Lists
    = f.select :lists, options_for_select(@search.applicable_lists, @search.lists), {}, {class: 'form-control chosen-select', multiple: true}

  .form-group
    %label{'for' => "forms_search_social_networks"} Social Networks
    = f.select :social_networks, options_for_select(SocialNetworks::SocialNetwork.all.map(&:name), @search.social_networks), {}, {class: 'form-control chosen-select', multiple: true}

  .form-group
    %label{'for' => "forms_search_social_from_date"} From Date
    = f.text_field :from_date, class: 'form-control datepicker'

  .form-group
    %label{'for' => "forms_search_social_to_date"} To Date
    = f.text_field :to_date, class: 'form-control datepicker'

  = f.submit 'Search', class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %th #
    %th Author Name
    %th Posted At
    %th Body
    %th Social Network

  %tbody
    - @posts.each_with_index do |post, index|
      %tr
        %td= index+1
        %td= post.person.name
        %td= post.posted_at.strftime("%d/%b/%Y (%H:%M)")
        %td
          = "#{post.body[0..70]}"
          = link_to 'read more', '#', 'data-toggle' => "modal", 'data-target' => "#post-body-modal-#{post.id}"
        %td= post.social_network.name
      .modal.fade{'id' => "post-body-modal-#{post.id}", 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "Post Body Modal #{post.id}"}
        .modal-dialog{'role' => "document"}
          .modal-content
            .modal-header
              %button.close{'type' => "button", 'data-dismiss' => "modal", 'aria-label' => "Close"}
                %span{'aria-hidden' => "true"} &times;
              %h4.modal-title{'id' => "post-body-modal-label-#{post.id}"} Post Body
            .modal-body
              = post.body
            .modal-footer
              %button.btn.btn-default{'type' => "button", 'data-dismiss' => "modal"} Close

= paginate @posts